.app {
  background-image: url('touge.jpg');
  background-size: cover;            
  background-position: center;       
  background-repeat: no-repeat;      
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.forma {
  background-color: #0c2b59;
  color: white;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 30px;
  max-width: 800px;
  margin: 0 auto 30px;
}

.aaa {
  margin-bottom: 15px;
}

.pole {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  border: 3px solid #061429;
  border-radius: 15px;
  box-sizing: border-box;
}

.button {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto 15px;
  text-decoration: none;
  display: block;
  background-color: #0c2b59;
  width: fit-content;
  font-size: 20px;
}

.list {
  background-color: rgba(12, 43, 89, 0); /* Прозрачность 70% */
  color: white;
  padding: 20px;
  border-radius: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.carlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0;
}

.car-card {
  background-color: #1a3b6e;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.car-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.car-info {
  flex-grow: 1;
  margin-bottom: 10px;
}

.car-actions {
  display: flex;
  justify-content: space-between;
}

.button:disabled {
  background-color: #3a4b5c;
  cursor: not-allowed;
  opacity: 0.7;
}

.button.active {
  background-color: #1e90ff;
}

.button.active:hover {
  background-color: #1c86ee;
}
.list-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 1px; 
}